* {
    /* border: 2px solid red; */
    box-sizing: border-box;
}


body {
    margin: 0;
    background-color: #4970A2;
    font-family: "Josefin Slab", serif;
}

p {
    line-height: 1.5rem;
}


header {
    background-color: #262849;
    width: 100%;
    height: 5rem;
    display: flex;
    box-shadow: 0px 10px 50px black;
    align-items: center;
    left: 0;
}


.name-oval {
    background-color: #B2AA8E;
    width: 15rem;
    height: 100%;
    display: flex;
    border-radius: 0 0 100px 0;
    font-size: 2rem;
}


.logo {
    width: 100%;
    display: flex;
    flex-direction: column;
}


.logo p {
    margin: 0;
    width: 50%;
    display: flex;
    justify-content: center;
}


.devin {
    color: white;
    padding-right: 5px;
}


.fa-m {
    rotate: 180deg;
    padding-left: .15rem;
}


.fa-d {
    padding-right: .15rem;
}


.header-links {
    display: flex;
    width: 80%;
    justify-content: space-between;
    padding-left: 2rem;
    font-size: 1.5rem;
}


a {
    text-decoration: none;
    color: white;
}


.header-links a {
    padding-top: .5rem;
}


.header-links a:hover {
    padding-top: 0;
    color: #cac19f;
}


.hamburg {
    display: none;
}


main {
    padding-top: 5rem;
}


.education {
    display: flex;
    width: 100%;
    height: 20rem;
    align-items: center;
    padding-top: 2.5rem;
}


.ed-img {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
}


.ed-img p {
    padding-right: 2rem;
    margin-bottom: 6rem;
    font-size: 1.5rem;
    color: white;
}


.img-ed {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ECEEED;
    height: 70%;
    margin-bottom: 2rem;
}


img {
    width: 30rem;
    height: auto;
    padding: 1.5rem;
}


.ed-text {
    display: flex;
    width: 60%;
    justify-content: center;
}


.ed-text p {
    background-color: #ECEEED;
    width: 100%;
    margin-right: 3rem;
    padding: .5rem;
    font-size: 1.25rem;
}


.main-bot {
    display: flex;
}


.music {
    width: 30%;
}


.title-music {
    color: white;
    font-size: 2rem;
    width: 70%;
    text-align: center;
}


.music-img {
    padding-left: 2rem;
}


.music-img img,
.sports-img img{
    background-color: #ECEEED;
}


.music-text {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}


.music-text p {
    width: 70%;
    background-color: #ECEEED;
    color: black;
    padding: 1rem;
    font-size: 1.25rem;
}


.sports {
    width: 70%;
}


.sports-img {
    padding-left: 20rem;
}


.sports-img img {
    width: 40rem;
}


.title-sports {
    width: 100%;
    display: flex;
    justify-content: center;
    color: white;
    font-size: 2rem;
    padding-top: 1rem;
    padding-left: 1rem;
}


.sports-text {
    width: 93%;
    display: flex;
    justify-content: flex-end;
}


.sports-text p {
    width: 60%;
    background-color: #ECEEED;
    color: black;
    padding: 1rem;
    font-size: 1.25rem;
}


footer {
    width: 100%;
    height: 5rem;
    display: flex;
    background-color: #262849;
    box-shadow: 0px -5px 20px black;
    color: white;
    justify-content: space-between;
    align-items: flex-end;
    font-size: 1.5rem;
    padding-left: 1.5rem;


}


.contact {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}


.cont-where,
.cont-info {
    display: flex;
    height: 100%;
    align-items: center;
}


.cont-where,
.cont-info {
    width: 100%;
}


.cont-info p,
.cont-where p {
    width: 50%;
    margin: 0;
}


.oval-footer {
    background-color: #B2AA8E;
    width: 20rem;
    height: 5rem;
    display: flex;
    border-radius: 100px 0 0 0;
    right: 0;
    top: 0;
    justify-content: flex-end;
    font-size: 2rem;
}


.logo {
    width: 100%;
    height: 100%;
    display: flex;
    padding: .5rem 0 0 2rem;
}


.socials {
    /* border: 2px solid red; */
    display: flex;
    justify-content: space-evenly;
}


.socials a:hover {
    color: #4970A2;
}

.hamburg-menu {
    display: none;
}

@media (max-width:430px) {
    header {
        display: flex;
        justify-content: space-between;
    }
    .hamburg-menu {
        display: none;
        position: absolute;
        width: 45%;
        height: 100%;
        background-color: #cac19f;
        top: 0;
        right: 0;
        border-radius: 0 0 50px 50px;
        box-shadow: 0 0 4000px 50px lightgrey;
        align-items: flex-end;
        flex-direction: column;
        padding: 1rem;
    }
    .fa-x  {
        font-size: 2rem;
        padding-bottom: 2rem;
    }
    .hamburg-links {
        font-size: 1.5rem;
        display: flex;
        flex-direction: column;
    }
    .hamburg-links a {
        padding-bottom: 1rem;
    }
    .name-oval {
        width: 40%;
        height: 100%;
        left: 0;
        top: 0;
        border-radius: 0 0 100px 0;
        justify-content: flex-start;
    }
    .logo {
        height: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        padding-left: .5rem;
    }
    .logo p {
        width: 100%;
        padding: 0;
        display: flex;
        justify-content: flex-start;
    }
    .header-links {
        display: none;
    }
    .hamburg {
        display: flex;
        font-size: 1.5rem;
        padding-right: 1.5rem;
        color: #B2AA8E;
    }
    .education {
        flex-direction: column;
        margin-bottom: 5rem;
        height: 125vh;
    }
    .ed-img,
    .img-ed {
        padding: 0;
        margin: 0;
    }
    .ed-img {
        margin-right: 2rem;
        background-color: none;
    }
    img {
        padding: 0;
        width: 20rem;
    }
    .ed-text {
        padding: 0;
        margin: 0;
        width: 100%;
        padding-left: 1rem;
        width: 90%;
    }
    .ed-text p {
        padding: 1rem;
        width: 100%;
        font-size: 1rem;
    }
    .music {
        width: 100%;
    }
    .music-img img {
        padding: 1rem;
    }
    .music-text {
        justify-content: center;
    }
    .sports {
        width: 100%;
    }
    .sports-img {
        justify-content: center;
        padding: 0 0 0 1rem;
        margin: 0;
    }
    .sports-img img {
        width: 25rem;
    }
    .sports-text {
        justify-self: center;
    }
    .main-bot {
        margin-bottom: 2rem;
        flex-direction: column;
    }
    footer {
        font-size: 1rem;
        justify-content: space-between;
        padding: 0;
        align-items: flex-end;
    }
    .contact {
        width: 60%;
        height: 100%;
        display: flex;
        align-items: center;
        padding-left: .5rem;
    }
    .where-reach {
        display: none;
    }
    .oval-footer {
        width: 30%;
        font-size: 1.5rem;
        justify-content: flex-end;
        align-items: flex-end;
        height: 100%;
    }
    .oval-footer p {
        padding: 0;
        display: flex;
        justify-content: flex-end;
        padding-right: .5rem;
    }
    .cont-info,
    .cont-where {
        height: 100%;
        display: flex;
        justify-content: center;
    }
    .socials {
        width: 100%;
        padding-top: .5rem;
    }
}